---
import BaseLayout from "@layouts/BaseLayout.astro";
---

<BaseLayout>
    <div class="flex flex-col gap-3 m-auto w-fit mt-8">
        <div>
            Screen width<br />
            <input
                type="number"
                oninput="calc(); "
                id="screen-width"
                value="1920"
            />
        </div>
        <div>
            Screen height<br />
            <input
                type="number"
                oninput="calc(); "
                id="screen-height"
                value="1080"
            />
        </div>
        <div>
            ColumnWidth<br />
            <input oninput="calc();" id="column-width" value="52,52,52,52" />
        </div>

        <div class="mt-8">
            ColumnStart<br />
            <input type="number" id="column-start" />
        </div>
    </div>

    <script is:inline>
    function gI(id) {
        return document.getElementById(id);
    }
    function calc() {
        const columnStartElem = gI("column-start");
        const columnWidthElem = gI("column-width");
        const screenHeightElem = gI("screen-height");
        const screenWidthElem = gI("screen-width");

        const screenHeight = parseFloat(screenHeightElem.value);
        const screenWidth = parseFloat(screenWidthElem.value);
        const screen = screenHeight / screenWidth;
        const columnSum = columnWidthElem.value
            .split(/\s|,/)
            .reduce((sum, val) => {
                return sum + parseFloat(val);
            }, 0);
        const res = 480 / screen / 2 - columnSum / 2;

        columnStartElem.value = "";
        screenHeightElem.classList.remove("e");
        screenWidthElem.classList.remove("e");
        columnWidthElem.classList.remove("e");

        if (isNaN(screenHeight)) screenHeightElem.classList.add("e");
        if (isNaN(screenWidth)) screenWidthElem.classList.add("e");
        if (isNaN(columnSum)) columnWidthElem.classList.add("e");

        if (isNaN(res)) return;

        columnStartElem.value = Math.round(res);
    }
    calc();
    </script>
</BaseLayout>

<style lang="postcss">
    :global(html) {
        @apply bg-slate-700
    }
    .e {
        @apply border border-solid border-red-500
    }
    * {
        @apply text-white
    }
    input {
        @apply bg-slate-500 p-2 rounded-md focus-visible:outline-none
    }
</style>
