---
import BaseLayout from "@layouts/BaseLayout.astro";
import Link from "@components/Link.astro";
---

<BaseLayout>
    <div class="flex flex-col w-fit gap-5 m-auto mt-10">
        <div class="flex flex-col gap-3">
            <span class="text-center text-white text-4xl font-bold"
                >作ったやつ？</span
            >
            <Link
                text="osu!maniaのあれを真ん中にするときのColumnStartを求めるやつ"
                url="/mania-centering/index.html"
            />
            <Link text="btoa, atob" url="/btoa/index.html" />
            <Link
                text="聖遺物の画像からスコア計算するやつ"
                url="/genshin-score/index.html"
            />
        </div>
        <div class="flex flex-col gap-3">
            <span class="text-center text-white text-4xl font-bold">Link</span>
            <Link text="Twitter" url="https://twitter.com/sfx_as" />
            <Link text="GitHub" url="https://github.com/shaaaaaQ" />
            <Link text="Misskey.io" url="https://misskey.io/@sfx__as" />
            <Link text="osu!" url="https://osu.ppy.sh/users/16234052" />
            <Link text="Wonderosu" url="https://wonderosu.com/u/2885" />
            <Link text="Geartics" url="https://www.geartics.com/sfx_as" />
        </div>
    </div>
</BaseLayout>

<style lang="postcss">
    :global(html) {
        @apply bg-slate-700
    }
</style>
