---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
    <ul>
        <li>
            <a href="/mania-centering/index.html"
                >osu!maniaのあれを真ん中にするときのColumnStartの値を求めるツール</a
            >
        </li>
        <li><a href="/btoa/index.html">btoa, atob</a></li>
        <li>
            <a href="/genshin-score-uid/index.html"
                >聖遺物の合計スコアを見るやつ</a
            >
        </li>
        <li>
            <a href="/genshin-score-img/index.html"
                >聖遺物の画像からスコア計算するやつ(PC用)</a
            >
        </li>
        <li><a href="/krunker-css/index.html">KrunkerのCSS</a></li>
    </ul>
    <ul>
        <li>
            <a
                href="https://github.com/Kimeiga/bahunya"
                target="_blank"
                rel="noopener">使ってるCSS</a
            >
        </li>
    </ul>
    <ul>
        <li>
            <a
                href="https://github.com/shaaaaaQ/shmhm"
                target="_blank"
                rel="noopener">GitHub</a
            >
        </li>
    </ul>
</BaseLayout>
