---
import BaseLayout from "@layouts/BaseLayout.astro";

const hoge = {
    Link: {
        "https://twitter.com/sfx_as": "Twitter",
        "https://github.com/shaaaaaQ": "GitHub",
        "https://misskey.io/@sfx__as": "Misskey.io",
        "https://osu.ppy.sh/users/16234052": "osu!",
        "https://wonderosu.com/u/2885": "Wonderosu",
        "https://www.geartics.com/sfx_as": "Geartics",
    },
    "作ったやつ？": {
        "/mania-centering/index.html":
            "osu!maniaのあれを真ん中にするときのColumnStartを求めるやつ",
        "/btoa/index.html": "btoa, atob",
        "/genshin-score/index.html": "聖遺物の画像からスコア計算するやつ",
    },
};
---

<BaseLayout>
    <div class="flex flex-col w-fit gap-5 m-auto p-10">
        {
            Object.entries(hoge).map(([title, items]) => (
                <div class="flex flex-col gap-3">
                    <span class="text-center text-white text-4xl font-bold">
                        {title}
                    </span>
                    {Object.entries(items).map(([url, text]) => (
                        <a
                            href={url}
                            target="_blank"
                            rel="noopener"
                            class="p-4 rounded-full text-center text-white bg-slate-500 hover:bg-slate-400 transition-colors"
                        >
                            {text}
                        </a>
                    ))}
                </div>
            ))
        }
    </div>
</BaseLayout>

<style lang="postcss">
    :global(html) {
        @apply bg-slate-700
    }
</style>
