<a
    href={Astro.props.url}
    target="_blank"
    rel="noopener"
    class="p-4 rounded-full text-center text-white bg-slate-500 hover:bg-slate-400 transition-colors"
>
    {Astro.props.text}
</a>
