---
import BaseLayout from "@layouts/BaseLayout.astro";
const { title } = Astro.props;
---

<BaseLayout title={title || ""}>
    <link
        slot="head"
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/gh/kimeiga/bahunya/dist/bahunya.min.css"
    />

    <nav>
        <a href="/">Home</a>
    </nav>
    <slot />
</BaseLayout>
