---
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout>
    <div id="input" contenteditable>ここに貼り付け</div>
    <canvas width="0" height="0" id="canvas"></canvas>

    <div>
        <label
            ><input
                id="mh-cv"
                type="radio"
                name="mh"
                onclick="calc()"
            />会心のみ</label
        >
        <label
            ><input
                id="mh-atk"
                type="radio"
                name="mh"
                onclick="calc()"
                checked
            />攻撃力%</label
        >
        <label
            ><input
                id="mh-hp"
                type="radio"
                name="mh"
                onclick="calc()"
            />HP%</label
        >
    </div>

    <textarea id="output" oninput="calc()"></textarea>
    <div id="score"></div>

    <h3>使い方</h3>
    <a href="/images/kore.png" target="_blank">これ</a>をWindowsなら<code
        >Win+Shift+S</code
    >とかで<a href="/images/konnna.png" target="_blank">こんな</a
    >感じに切り取って上のやつに貼り付ける<br />
    たまに文字がちゃんと認識されないことがあるけどその時は手動で書き換える

    <script
        is:inline
        src="https://unpkg.com/tesseract.js@v2.1.0/dist/tesseract.min.js"
    ></script>
    <script is:inline>
        const input = document.getElementById("input");
        const canvas = document.getElementById("canvas");
        const output = document.getElementById("output");
        const ctx = canvas.getContext("2d");
        const mh = {
            atk: document.getElementById("mh-atk"),
            hp: document.getElementById("mh-hp"),
        };

        input.addEventListener("paste", (e) => {
            e.preventDefault();

            if (e.clipboardData.types[0] !== "Files") return;

            output.value = "計算中...";

            const reader = new FileReader();
            reader.readAsDataURL(e.clipboardData.items[0].getAsFile());
            reader.addEventListener("load", (e) => {
                const image = new Image();
                const base64 = e.target.result;

                image.src = base64;
                image.addEventListener("load", () => {
                    canvas.width = image.width;
                    canvas.height = image.height;
                    ctx.drawImage(image, 0, 0);
                });

                // eslint-disable-next-line no-undef
                Tesseract.recognize(base64, "jpn").then(
                    ({ data: { text } }) => {
                        console.log(text);
                        const stats = [];
                        text.replace(/ /g, "")
                            .split("\n")
                            .filter((str) => str.startsWith("・"))
                            .forEach((str) => {
                                stats.push(
                                    str
                                        .slice(1)
                                        .replace(/⓪/g, "0")
                                        .replace(/①/g, "1")
                                        .replace(/②/g, "2")
                                        .replace(/③/g, "3")
                                        .replace(/④/g, "4")
                                        .replace(/⑤/g, "5")
                                        .replace(/⑥/g, "6")
                                        .replace(/⑦/g, "7")
                                        .replace(/⑧/g, "8")
                                        .replace(/⑨/g, "9")
                                        .replace(/カ/g, "力")
                                        .replace(/%6/g, "%")
                                );
                            });
                        output.value = stats.join("\n");
                        calc();
                    }
                );
            });
        });

        function calc() {
            let score = 0;
            output.value.split("\n").forEach((str) => {
                const value = parseFloat(str.split("+")[1]);
                switch (true) {
                    case str.startsWith("会心率"): {
                        score = score + value * 2;
                        break;
                    }
                    case str.startsWith("会心ダメージ"):
                    case str.startsWith("攻撃力") &&
                        str.endsWith("%") &&
                        mh.atk.checked:
                    case str.startsWith("HP") &&
                        str.endsWith("%") &&
                        mh.hp.checked: {
                        score = score + value;
                        break;
                    }
                }
            });
            score = Math.round(score * 10) / 10;
            document.getElementById("score").textContent = `スコア: ${score}`;
        }
    </script>
</BaseLayout>
