---
import BaseLayout from "../../layouts/BaseLayout.astro";
import App from "../../svelte/genshin-score-img/App.svelte";
---

<BaseLayout>
    <App client:load />
    <h3>使い方</h3>
    <a href="/images/kore.png" target="_blank">これ</a>をWindowsなら<code
        >Win+Shift+S</code
    >とかで<a href="/images/konnna.png" target="_blank">こんな</a
    >感じに切り取って上のやつに貼り付ける<br />
    <a href="https://github.com/naptha/tesseract.js" target="_blank"
        >tesseract.js</a
    > (<a
        href="https://github.com/naptha/tesseract.js/blob/master/LICENSE.md"
        target="_blank">LICENSE</a
    >)
</BaseLayout>
