---
import App from "@svelte/genshin-score-img/App.svelte";
// Gray
// Cyan
---

<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title></title>
    </head>
    <body>
        <App client:load />
    </body>
</html>

<style is:global>
    * {
        color: #f3f4f6;
    }
    body {
        background: #111827;
    }
    a {
        color: #0ea5e9;
    }
    canvas {
        display: block;
    }
    body {
        max-width: 50rem;
        margin-left: auto;
        margin-right: auto;
        margin-top: 50px;
        padding: 10px;
    }
</style>
